body{
    margin: 6px 6px;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60px 3fr 1fr;
      /* Important!! Check the double quote below
      If many columns in 1 row; only 1 closed double quote used */
    grid-template-areas: "NavBar main Advertisement";
}

nav{
    margin: 0px;
    padding: 0px;
    display: grid;
    text-align: center;
    /*How to rotate text/ element */
    -webkit-transform:rotate(90deg)
}

.NavBar{
    background-color: aquamarine;
    display: grid;
    place-items: center;
    grid-area: NavBar;
    /* width: 60px; */
}

main{
    background-color: cornflowerblue;
    display: grid;
    place-items: center;
    grid-area: main;
}

.Advertisement{
    background-color: darkgreen;
    display: grid;
    grid-area: Advertisement;
    place-items: center;
}