body{
    height: 100vh;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
}

.CardsCollection{
    display: grid;
    /* 1fr 1fr 1fr */
    grid-template-columns: repeat(3, 1fr);      
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:    "Card-1 Card-2 Card-3"
                            "Card-4 Card-5 Card-6"
                            "Card-7 Card-8 Card-9"
                            "Card-10 Card-11 Card-12";
}

/* To choose similar class/ id name; where it will choose Card-1 to Card-12 below */
/* ^ is a selector */
[id ^= "Card-"]{
    display: grid;
    place-items: center;
    margin: 0.7rem;
        border: 2px solid black;
        border-radius: 23px;

}

        #Card-1{
            display: grid;
            grid-area: Card-1;
        }

        #Card-2{
            display: grid;
            grid-area: Card-2;
        }

        #Card-3{
            display: grid;
            grid-area: Card-3;
        }

                #Card-4{
                    display: grid;
                    grid-area: Card-4;
                }

                #Card-5{
                    display: grid;
                    grid-area: Card-5;
                }

                #Card-6{
                    display: grid;
                    grid-area: Card-6;
                }

                        #Card-7{
                            display: grid;
                            grid-area: Card-7;
                        }
                
                        #Card-8{
                            display: grid;
                            grid-area: Card-8;
                        }
                
                        #Card-9{
                            display: grid;
                            grid-area: Card-9;
                        }

                                #Card-10{
                                    display: grid;
                                    grid-area: Card-10;
                                }
                        
                                #Card-11{
                                    display: grid;
                                    grid-area: Card-11;
                                }
                        
                                #Card-12{
                                    display: grid;
                                    grid-area: Card-12;
                                }

#SamplePicture{
    object-fit:cover;
    width: 100%;
    height: auto;
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
    margin: 0px;
}

    h1{
        font-weight: 700;
        margin: 0px;
        padding-bottom: 6px;
    }

    p{
        text-align: justify;
        margin: 0px;
        padding: 10px 10px;
    }

    #Information{
        /* display: grid; */
        padding: 1rem;
            background-color: rgb(250, 240, 240);
                border-bottom-left-radius: 23px;
                border-bottom-right-radius: 23px;
    }

/* Media Querries   */
@media only screen and (max-width: 550px){
    .CardsCollection{
        height: 100vh;
        /* width: 100vw; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:    "Card-1 Card-2"
                                "Card-3 Card-4"
                                "Card-5 Card-6"
                                "Card-7 Card-8"
                                "Card-9 Card-10"
                                "Card-11 Card-12";
    }
}

