body{
    font-family: "Montserrat", sans-serif;
}

nav{
    background-color: darkslategrey;
    height: 60px;
    box-shadow: 0px 0px 10px;
}

.NavList{
    display: flex;
    background-color: darkslategrey;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.NavOption:first-child{
    margin-left: 0.1rem;
    margin-right: auto;
}

.NavOption a{
    color: white;
}

.NavOption a:hover{
    color: rgb(102, 163, 232) ;
}

.NavBtn{
    background-color: rgb(117, 150, 150);
}

img{
    max-width: 85px;
    height: auto;
}